//colors
$white: #ffffff;
$grey: #888888;
$light-grey: #c4c4c4;
$lighter-grey: #c1c1c1;
$dark: #333333;
$red: #e90000;
$blue: #0056d8;
$dark-blue: #003585;


$primary-text-color: $dark;
$capture-color: $grey;
$button: $blue;
$button-text: $white;
$button-hover: $dark-blue;
$button-active: $lighter-grey;
$button-push: $light-grey;