//colors
$white: #ffffff;
$white-two: #F1F1F1;
$grey: #888888;
$light-grey: #c4c4c4;
$lighter-grey: #c1c1c1;
$dark: #333333;
$red: #e90000;
$blue: #0056d8;
$dark-blue: #003585;

$body-background: $white-two;
$elements-background: $white;

$primary-text-color: $dark;
$capture-color: $grey;

$button: $blue;
$button-text: $white;
$button-hover: $dark-blue;
$button-focus: $lighter-grey;
$button-push: $light-grey;

$input-border: $lighter-grey;
$input-placeholder: $lighter-grey;
$input-border-focus: $dark-blue;

$card-login: $grey;

//fonts
$roboto: "Roboto", "Arial", sans-serif;
$main-font: $roboto;
