.button {
  padding: 20px 24px;
  width: 324px;
  border: none;
  border-radius: 0px 20px;

  background: $button;
  color: $button-text;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    background-color: $button-hover;
  }
  
  &:active {
    background-color: $button-push;
    width: 292px;
    padding-top: 16px;
    padding-bottom: 17px;
  }

  &:focus {
    background-color: $button-focus;
  }
}
