.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 162px;
    padding-bottom: 162px;;
}

.registration__card {
    margin-bottom: 42px;
}
